src/pug/cancelation.pug
extends _main3.pug
include inc/_components.pug

block title
	| Receive Funds
	
block modals
	+login-modal
	
block content
	
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header

	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-done(href='receiver-info.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name 
					span.d-none.d-md-inline-block Receiver Information
			a.transfer-progress-step.step-done(href='deposit-account.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Deposit Account Details
			a.transfer-progress-step.step-done(href='confirmation.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Confirmation
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-md-8.col-lg-7
					h2.mb-3.mb-md-3.text-center Transaction Cancelled
					
					.card.card-body.text-center
						p If you faced any problems with our service, please feel free to contact us
							br
							a(href='#0') support@gmail.com
						p or Call Us  
							strong +12 499 1939100
					
					
						
					.mt-4
						a.btn.w-100.btn-primary.btn-lg.btn-block(href='#0') Pickup Another Transfer
					.mt-4
						a.btn.w-100.btn-outline-secondary.btn-lg.btn-block(href='#0') Dashboard
		

cancelation.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/logo.png" type="image/png" sizes="16x16">
    <!-- Box Icons-->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <!-- Main CSS file-->
    <link href="css/style.css" rel="stylesheet">
    <title>Receive Funds
    </title>
  </head>
  <body>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen p-0">
        <div class="modal-content m-0">
          <div class="login-modal">
            <div class="login-modal-img p-5">
              <div class="d-block w-100 z-index-2"><a href="index.html"><img src="./img/logo.png" alt="BNB" width="80"/></a></div>
              <div class="d-block z-index-2 mb-5">
                <h1 class="login-modal-title">Send Money to Your Loved Ones</h1>
                <p class="login-modal-subtitle">Fast. Secure. Low fees.</p>
              </div>
            </div>
            <div class="login-modal-content">
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class="col-sm-11 col-md-8 col-lg-10 col-xl-7">
                    <h3 class="mb-4">Sign in to Continue</h3>
                    <div class="d-grid gap-2 mb-3"><a class="btn btn-fb btn-lg rounded-pill btn-block" href="dashboard.html"><i class="bx bxl-facebook-circle me-2"></i>Continue with Facebook</a><a class="btn btn-gl btn-lg rounded-pill btn-block" href="dashboard.html"><i class="bx bxl-google me-2"></i>Continue with Google</a></div>
                    <div class="divider-line"></div>
                    <div class="md-title">or Log In using your email and password</div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="loginEmail" type="email" placeholder="name@example.com"/>
                      <label for="loginEmail">Email address</label>
                    </div>
                    <div class="form-floating">
                      <input class="form-control" id="loginPassword" type="password" placeholder="Password"/>
                      <label for="loginPassword">Password</label>
                    </div>
                    <div class="d-flex mt-3 py-1 justify-content-between align-items-center">
                      <button class="btn btn-primary btn-lg px-5 rounded-pill" type="submit">Log In</button><a class="text-md text-muted" href="#0">Forgot password?</a>
                    </div>
                    <div class="divider-line"></div>
                    <div class="md-title">New to BNB? </div><a class="btn btn-outline-primary btn-lg w-100 border-2 rounded-pill" href="sign-up.html">Create free account</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><b class="screen-overlay"></b>
    <div class="page">
      <!--Mobile Navigation Sidebar-->
      <div class="bg-white d-block d-md-none" id="sidebarLeft">
        <ul class="sidebar-nav">
          <li><a class="active" aria-current="page" href="index.html">Send Money</a></li>
          <li><a href="receive.html">Receive</a></li>
          <li><a href="#">How it works?</a></li>
          <div class="px-3 mt-4"><a class="btn btn-light rounded-pill w-100 my-1" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a><a class="btn btn-primary rounded-pill w-100 my-1" href="sign-up.html">Sign Up</a></div>
        </ul>
      </div>
      <!-- end Mobile Navigation Sidebar-->
      <!-- Header-->
      <div class="account-header marked-bottom-left d-flex">
        <div class="header-inset"><a class="logo ms-3" href="dashboard.html"><img src="./img/logo.png"/></a>
          <div class="transfer-progress"><a class="transfer-progress-step step-done" href="receiver-info.html">
              <div class="transfer-progress-step-number"><i class="bx bx-check lead"></i></div>
              <div class="transfer-progress-step-name"> <span class="d-none d-md-inline-block">Receiver Information</span></div></a><a class="transfer-progress-step step-done" href="deposit-account.html">
              <div class="transfer-progress-step-number"><i class="bx bx-check lead"></i></div>
              <div class="transfer-progress-step-name">Deposit Account Details</div></a><a class="transfer-progress-step step-done" href="confirmation.html">
              <div class="transfer-progress-step-number"><i class="bx bx-check lead"></i></div>
              <div class="transfer-progress-step-name">Confirmation</div></a></div>
          <div class="dropdown language-select mx-2 ms-auto"><a class="link-dark dropdown-toggle" id="languageSelection" data-bs-toggle="dropdown" aria-expanded="false"><i class="country-flag me-2"><img src="./img/flag-uk.svg" width="24"/></i><span class="d-none d-lg-inline-block">English</span></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageSelection">
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-uk.svg" width="20"/></i>English</a></li>
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-france.svg" width="20"/></i>French</a></li>
            </ul>
          </div>
        </div><a class="btn-cancel" href="#0"><i class="bx bx-x"></i><span class="text-xs fw-500 d-none d-md-block">Cancel</span></a>
      </div>
      <!-- end Header-->
      <div class="account-content">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">
              <h2 class="mb-3 mb-md-3 text-center">Transaction Cancelled</h2>
              <div class="card card-body text-center">
                <p>If you faced any problems with our service, please feel free to contact us<br><a href="#0">support@gmail.com</a></p>
                <p>or Call Us  <strong>+12 499 1939100</strong></p>
              </div>
              <div class="mt-4"><a class="btn w-100 btn-primary btn-lg btn-block" href="#0">Pickup Another Transfer</a></div>
              <div class="mt-4"><a class="btn w-100 btn-outline-secondary btn-lg btn-block" href="#0">Dashboard</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Initialize Tooltips-->
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      	return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
    <!-- Select with Image-->
    <script>
      (function(){
      	'use strict'
      
      	function hasClass(el, className){
      		if(el){
      				if (el.classList)
      						return el.classList.contains(className);
      				return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
      		}
      		return null
      	}
      	function addClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.add(className)
      				else if (!hasClass(el, className))
      						el.className += " " + className;
      		}
      	}
      	function removeClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.remove(className)
      				else if (hasClass(el, className))
      				{
      						let reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
      						el.className = el.className.replace(reg, ' ');
      				}
      		}
      	}
      
      	let selects = document.getElementsByClassName("select-image");        
      	Array.prototype.forEach.call(selects, function (select) {
      
      		select.addEventListener('click', function(){
      				let list = this.querySelector(".select-image-list")
      				addClass(list, "show");
      		});
      
      		select.addEventListener("mouseleave", function() {
      				let list = this.querySelector(".select-image-list")
      				removeClass(list, "show");
      		});
      
      		let options = select.getElementsByClassName("select-image-option");
      		Array.prototype.forEach.call(options, function (option) {
      
      				option.addEventListener('click', function(){
      
      						let value = this.getAttribute("data-value");
      						let image = this.getAttribute("data-image");
      						let name  = this.getAttribute("data-name");
      
      						let display = select.getElementsByClassName("select-image-input")[0];
      						display.innerHTML = `<img src="`+image+`"/> `+name;
      
      						let input = select.querySelector("input");
      						input.value = value;
      						
      						let list = select.querySelector(".select-image-list")
      						setTimeout(function(){
      								removeClass(list, "show");
      						}, 50)
      				});
      		});
      	});
      	})();
    </script>
  </body>
</html>
