need-help.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/logo.png" type="image/png" sizes="16x16">
    <!-- Box Icons-->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <!-- Main CSS file-->
    <link href="css/style.css" rel="stylesheet">
    <title>Need Help?
    </title>
  </head>
  <body><b class="screen-overlay"></b>
    <div class="page">
      <!-- Header-->
      <div class="account-header marked-bottom-left">
        <div class="header-inset"><a class="logo ms-3" href="dashboard.html"><img src="./img/logo.png"/></a>
          <ul class="nav d-none ms-auto d-sm-flex">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="dashboard.html">Send Money</a></li>
            <li class="nav-item"><a class="nav-link" href="receiver-info.html">Receive Money</a></li>
            <li class="nav-item"><a class="nav-link" href="need-help.html">Need Help?</a></li>
            <li class="nav-item"><a class="nav-link" href="index.html">Log Out</a></li>
          </ul>
          <div class="dropdown ms-auto me-0 d-sm-none link-dark rounded-pill"><a class="mobile-login-toggle ms-auto me-2 d-sm-none link-dark rounded-pill" id="usermenuDropdown" data-bs-toggle="dropdown" aria-expanded="false"><i class="bx bx-user-circle"></i></a>
            <ul class="dropdown-menu text-md" aria-labelledby="usermenuDropdown">
              <li><a class="dropdown-item" href="dashboard.html">My Account</a></li>
              <li><a class="dropdown-item" href="#">Need Help?</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="index.html">Log Out</a></li>
            </ul>
          </div>
          <div class="dropdown language-select mx-2"><a class="link-dark dropdown-toggle" id="languageSelection" data-bs-toggle="dropdown" aria-expanded="false"><i class="country-flag me-2"><img src="./img/flag-uk.svg" width="24"/></i><span class="d-none d-lg-inline-block">English</span></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageSelection">
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-uk.svg" width="20"/></i>English</a></li>
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-france.svg" width="20"/></i>French</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end Header-->
      <div class="account-content">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
              <div class="dashboard-section">
                <div class="dashboard-section-header">
                  <h1>FAQs</h1>
                </div>
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How to Make a Transfer?</div>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body"><strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Supported Countries</div>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body"><strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How to Change Password?</div>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body"><strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider-line"></div>
              <div class="card">
                <div class="card-header">Couldn't find your question?</div>
                <div class="card-body">
                  <p>Get in Touch and we will come around with answer as soon as possible.</p>
                  <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option selected="">How it works</option>
                      <option value="1">Payments</option>
                      <option value="2">Account Verification</option>
                      <option value="3">Transfer Method</option>
                    </select>
                    <label for="floatingSelect">Select Subject</label>
                  </div>
                  <div class="form-floating mb-3">
                    <textarea class="form-control" id="floatingTextarea2" placeholder="Your question" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Your Question</label>
                  </div>
                  <button class="btn btn-primary btn-lg rounded-pill" type="submit">Send Message</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <section class="marked-top-right app-markets my-0">
          <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="col-auto">Download our app to send and receive money faster</div>
              <div class="col-auto">
                <div class="d-flex mt-2 mt-md-0"><a class="me-1" href="#0"><img src="./img/google-play-btn.svg" alt="Get it on Google Play"/></a><a href="#0"><img src="./img/app-store-btn.svg" alt="Download on the App Store"/></a></div>
              </div>
            </div>
          </div>
        </section>
        <div class="bg-dark text-white py-5">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-4 order-1 order-lg-2 text-center text-lg-right">
                <ul class="list-inline lead">
                  <li class="list-inline-item"><a class="link-white" href="#0"><i class="bx bxl-facebook"></i></a></li>
                  <li class="list-inline-item"><a class="link-white" href="#0"><i class="bx bxl-twitter"></i></a></li>
                  <li class="list-inline-item"><a class="link-white" href="#0"><i class="bx bxl-linkedin"></i></a></li>
                </ul>
              </div>
              <div class="col-12 col-lg-8 order-2 order-lg-1">
                <ul class="footer-menu">
                  <li><a class="link-white" href="#0">Terms and conditions</a></li>
                  <li><a class="link-white" href="#0">Privacy policy</a></li>
                  <li><a class="link-white" href="#0">Cookies policy</a></li>
                  <li><a class="link-white" href="#0">Customer Support</a></li>
                </ul>
              </div>
              <div class="col-12 order-3">
                <div class="py-2 text-muted small text-center text-md-left">BnB CashApp is a service of © BnB Transfer Corp., a licensed Money Remitter in Canada, Rep. of Guinea, Sierra Leone and Liberia.<br/> Copyright © BnB Transfer Corp. 2020</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Initialize Tooltips-->
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      	return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
    <!-- Select with Image-->
    <script>
      (function(){
      	'use strict'
      
      	function hasClass(el, className){
      		if(el){
      				if (el.classList)
      						return el.classList.contains(className);
      				return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
      		}
      		return null
      	}
      	function addClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.add(className)
      				else if (!hasClass(el, className))
      						el.className += " " + className;
      		}
      	}
      	function removeClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.remove(className)
      				else if (hasClass(el, className))
      				{
      						let reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
      						el.className = el.className.replace(reg, ' ');
      				}
      		}
      	}
      
      	let selects = document.getElementsByClassName("select-image");        
      	Array.prototype.forEach.call(selects, function (select) {
      
      		select.addEventListener('click', function(){
      				let list = this.querySelector(".select-image-list")
      				addClass(list, "show");
      		});
      
      		select.addEventListener("mouseleave", function() {
      				let list = this.querySelector(".select-image-list")
      				removeClass(list, "show");
      		});
      
      		let options = select.getElementsByClassName("select-image-option");
      		Array.prototype.forEach.call(options, function (option) {
      
      				option.addEventListener('click', function(){
      
      						let value = this.getAttribute("data-value");
      						let image = this.getAttribute("data-image");
      						let name  = this.getAttribute("data-name");
      
      						let display = select.getElementsByClassName("select-image-input")[0];
      						display.innerHTML = `<img src="`+image+`"/> `+name;
      
      						let input = select.querySelector("input");
      						input.value = value;
      						
      						let list = select.querySelector(".select-image-list")
      						setTimeout(function(){
      								removeClass(list, "show");
      						}, 50)
      				});
      		});
      	});
      	})();
    </script>
  </body>
</html>

src/pug/need-help.pug
extends _main2.pug
include inc/_components.pug

block title
	| Need Help?

block modals
block content
	
	// Header
	+header2('')
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-12.col-lg-8
					.dashboard-section
						.dashboard-section-header
							h1 FAQs
						
						#accordionExample.accordion
							.accordion-item
								h2#headingOne.accordion-header
									.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
										| How to Make a Transfer?
								#collapseOne.accordion-collapse.collapse(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
									.accordion-body
										strong This is the first item's accordion body.
										|  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the 
										code .accordion-body
										| , though the transition does limit overflow.
							.accordion-item
								h2#headingTwo.accordion-header
									.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
										| Supported Countries
								#collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
									.accordion-body
										strong This is the second item's accordion body.
										|  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the 
										code .accordion-body
										| , though the transition does limit overflow.
							.accordion-item
								h2#headingThree.accordion-header
									.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
										| How to Change Password?
								#collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
									.accordion-body
										strong This is the third item's accordion body.
										|  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the 
										code .accordion-body
										| , though the transition does limit overflow.

						
						
					.divider-line
					
					.card
						.card-header Couldn't find your question?
						.card-body
							p Get in Touch and we will come around with answer as soon as possible.
							.form-floating.mb-3
								select#floatingSelect.form-select(aria-label='Floating label select example')
									option(selected='') How it works
									option(value='1') Payments
									option(value='2') Account Verification
									option(value='3') Transfer Method
								label(for='floatingSelect') Select Subject

							.form-floating.mb-3
								textarea#floatingTextarea2.form-control(placeholder='Your question' style='height: 100px')
								label(for='floatingTextarea2') Your Question
							
							button.btn.btn-primary.btn-lg.rounded-pill(type='submit') Send Message
