src/pug/receive.pug
extends _main.pug
include inc/_components.pug

block title
	| Receive Funds
	
block modals
	+login-modal
	
block content
	
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header
	+header('')
	// end Header
	.py-3.py-lg-5.mb-4
		.container
			.row.justify-content-center
				.col-12.col-md-8.col-lg-6
					.text-center
						h1 Log In or Sign Up to Receive Funds
						p.lead.text-muted Use your phone number and password
					
					
					.card.mb-2
						.card-body.px-4.px-md-5.py-4.pt-md-5
							ul#myTab.nav.nav-tabs.border-0.mb-3.mb-md-4(role='tablist')
								li.nav-item.me-3(role='presentation')
									a.h4.text-muted.active-dark.cursor-pointer#login-tab.active(data-bs-toggle='tab' data-bs-target='#login' role='tab' aria-controls='login' aria-selected='true') Log In
								li.nav-item(role='presentation')
									a.h4.text-muted.active-dark.cursor-pointer#signup-tab(data-bs-toggle='tab' data-bs-target='#signup' role='tab' aria-controls='signup' aria-selected='false') Register
								
							#myTabContent.tab-content
								#login.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='login-tab')
									.form-floating.mb-2.mb-md-3
										input#loginPhone.form-control(type='text' placeholder='Phone Number')
										label(for='loginPhone') Phone Number
										#phoneHelp.form-text.d-block.text-start In international format. I.e., +75714772857
										
									.form-floating.mb-3
										input#loginPassword.form-control(type='password' placeholder='Password')
										label(for='loginPassword') Password
									
									.d-flex.mt-3.py-1.justify-content-between.align-items-center
										a.btn.btn-primary.btn-lg.px-5.rounded-pill(href='receiver-info.html') Log In
										a.text-md.text-muted(href='#0') Forgot password?
										
								#signup.tab-pane.fade(role='tabpanel' aria-labelledby='signup-tab')
									.text-md.text-start.text-danger.mb-2 All fields are required
									.form-floating.mb-3
										input#firstName.form-control(type='text' placeholder='First Name')
										label(for='firstName') First Name
									.form-floating.mb-3
										input#lastName.form-control(type='text' placeholder='Last Name')
										label(for='lastName') Last Name
									.form-floating.mb-3
										select#floatingSelect.form-select(aria-label='Select Country')
											option(selected='') Select Country
											option(value='1') Ghana
											option(value='2') Senegal
										label(for='floatingSelect') Select Country
									
									.row.g-2
										.col-4
											.form-floating.mb-3
												input#countryCode.form-control(type='text' placeholder='Country Code' value='+582' disabled)
												label(for='countryCode') Country Code
										.col-8
											.form-floating.mb-3
												input#phoneNumber2.form-control(type='text' placeholder='Phone Number')
												label(for='phoneNumber2') Phone Number
									
									.mb-3.form-check
										input#exampleCheck1.form-check-input(type='checkbox')
										label.form-check-label.text-start(for='exampleCheck1') I agree with Terms & Conditions
									
									.d-flex.mt-3.py-1.justify-content-center
										button.btn.btn-lg.btn-primary.px-5.rounded-pill(type='submit') Create Account
					
					.card.mb-2
						.card-body.p-3.p-md-4
							h6.text-center.mb-3 Or Claim your money with our mobile app!
							.d-flex.justify-content-center
								a.me-1(href='#0')
									img(src='./img/google-play-btn.svg' alt='Get it on Google Play')
								a(href='#0')
									img(src='./img/app-store-btn.svg' alt='Download on the App Store')

receive.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/logo.png" type="image/png" sizes="16x16">
    <!-- Box Icons-->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <!-- Main CSS file-->
    <link href="css/style.css" rel="stylesheet">
    <title>Receive Funds
    </title>
  </head>
  <body>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen p-0">
        <div class="modal-content m-0">
          <div class="login-modal">
            <div class="login-modal-img p-5">
              <div class="d-block w-100 z-index-2"><a href="index.html"><img src="./img/logo.png" alt="BNB" width="80"/></a></div>
              <div class="d-block z-index-2 mb-5">
                <h1 class="login-modal-title">Send Money to Your Loved Ones</h1>
                <p class="login-modal-subtitle">Fast. Secure. Low fees.</p>
              </div>
            </div>
            <div class="login-modal-content">
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class="col-sm-11 col-md-8 col-lg-10 col-xl-7">
                    <h3 class="mb-4">Sign in to Continue</h3>
                    <div class="d-grid gap-2 mb-3"><a class="btn btn-fb btn-lg rounded-pill btn-block" href="dashboard.html"><i class="bx bxl-facebook-circle me-2"></i>Continue with Facebook</a><a class="btn btn-gl btn-lg rounded-pill btn-block" href="dashboard.html"><i class="bx bxl-google me-2"></i>Continue with Google</a></div>
                    <div class="divider-line"></div>
                    <div class="md-title">or Log In using your email and password</div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="loginEmail" type="email" placeholder="name@example.com"/>
                      <label for="loginEmail">Email address</label>
                    </div>
                    <div class="form-floating">
                      <input class="form-control" id="loginPassword" type="password" placeholder="Password"/>
                      <label for="loginPassword">Password</label>
                    </div>
                    <div class="d-flex mt-3 py-1 justify-content-between align-items-center">
                      <button class="btn btn-primary btn-lg px-5 rounded-pill" type="submit">Log In</button><a class="text-md text-muted" href="#0">Forgot password?</a>
                    </div>
                    <div class="divider-line"></div>
                    <div class="md-title">New to BNB? </div><a class="btn btn-outline-primary btn-lg w-100 border-2 rounded-pill" href="sign-up.html">Create free account</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><b class="screen-overlay"></b>
    <div class="page">
      <div class="content">
        <!--Mobile Navigation Sidebar-->
        <div class="bg-white d-block d-md-none" id="sidebarLeft">
          <ul class="sidebar-nav">
            <li><a class="active" aria-current="page" href="index.html">Send Money</a></li>
            <li><a href="receive.html">Receive</a></li>
            <li><a href="#">How it works?</a></li>
            <div class="px-3 mt-4"><a class="btn btn-light rounded-pill w-100 my-1" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a><a class="btn btn-primary rounded-pill w-100 my-1" href="sign-up.html">Sign Up</a></div>
          </ul>
        </div>
        <!-- end Mobile Navigation Sidebar-->
        <!-- Header-->
        <div class="header">
          <div class="header-inset"><a class="menu-btn link-dark d-flex d-md-none" data-trigger="#sidebarLeft" role="button"><i class="bx bx-menu"></i></a><a class="logo" href="index.html"><img src="./img/logo.png"/></a>
            <ul class="nav d-none d-md-flex">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="index.html">Send Money</a></li>
              <li class="nav-item"><a class="nav-link" href="receive.html">Receive</a></li>
              <li class="nav-item"><a class="nav-link" href="#">How it works?</a></li>
            </ul>
            <ul class="nav d-none d-sm-flex ms-auto me-4">
              <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a></li>
              <li class="nav-item"><a class="btn btn-primary rounded-pill" href="sign-up.html"> Sign Up</a></li>
            </ul><a class="mobile-login-toggle ms-auto me-3 d-sm-none link-dark rounded-pill" data-trigger="#sidebarLeft" role="button"><i class="bx bx-user-circle"></i></a>
            <div class="dropdown language-select mx-2"><a class="link-dark dropdown-toggle" id="languageSelection" data-bs-toggle="dropdown" aria-expanded="false"><i class="country-flag me-2"><img src="./img/flag-uk.svg" width="24"/></i><span class="d-none d-lg-inline-block">English</span></a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageSelection">
                <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-uk.svg" width="20"/></i>English</a></li>
                <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-france.svg" width="20"/></i>French</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end Header-->
        <div class="py-3 py-lg-5 mb-4">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-md-8 col-lg-6">
                <div class="text-center">
                  <h1>Log In or Sign Up to Receive Funds</h1>
                  <p class="lead text-muted">Use your phone number and password</p>
                </div>
                <div class="card mb-2">
                  <div class="card-body px-4 px-md-5 py-4 pt-md-5">
                    <ul class="nav nav-tabs border-0 mb-3 mb-md-4" id="myTab" role="tablist">
                      <li class="nav-item me-3" role="presentation"><a class="h4 text-muted active-dark cursor-pointer active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" role="tab" aria-controls="login" aria-selected="true">Log In</a></li>
                      <li class="nav-item" role="presentation"><a class="h4 text-muted active-dark cursor-pointer" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup" role="tab" aria-controls="signup" aria-selected="false">Register</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <div class="form-floating mb-2 mb-md-3">
                          <input class="form-control" id="loginPhone" type="text" placeholder="Phone Number">
                          <label for="loginPhone">Phone Number</label>
                          <div class="form-text d-block text-start" id="phoneHelp">In international format. I.e., +75714772857</div>
                        </div>
                        <div class="form-floating mb-3">
                          <input class="form-control" id="loginPassword" type="password" placeholder="Password">
                          <label for="loginPassword">Password</label>
                        </div>
                        <div class="d-flex mt-3 py-1 justify-content-between align-items-center"><a class="btn btn-primary btn-lg px-5 rounded-pill" href="receiver-info.html">Log In</a><a class="text-md text-muted" href="#0">Forgot password?</a></div>
                      </div>
                      <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                        <div class="text-md text-start text-danger mb-2">All fields are required</div>
                        <div class="form-floating mb-3">
                          <input class="form-control" id="firstName" type="text" placeholder="First Name">
                          <label for="firstName">First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                          <input class="form-control" id="lastName" type="text" placeholder="Last Name">
                          <label for="lastName">Last Name</label>
                        </div>
                        <div class="form-floating mb-3">
                          <select class="form-select" id="floatingSelect" aria-label="Select Country">
                            <option selected="">Select Country</option>
                            <option value="1">Ghana</option>
                            <option value="2">Senegal</option>
                          </select>
                          <label for="floatingSelect">Select Country</label>
                        </div>
                        <div class="row g-2">
                          <div class="col-4">
                            <div class="form-floating mb-3">
                              <input class="form-control" id="countryCode" type="text" placeholder="Country Code" value="+582" disabled>
                              <label for="countryCode">Country Code</label>
                            </div>
                          </div>
                          <div class="col-8">
                            <div class="form-floating mb-3">
                              <input class="form-control" id="phoneNumber2" type="text" placeholder="Phone Number">
                              <label for="phoneNumber2">Phone Number</label>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3 form-check">
                          <input class="form-check-input" id="exampleCheck1" type="checkbox">
                          <label class="form-check-label text-start" for="exampleCheck1">I agree with Terms & Conditions</label>
                        </div>
                        <div class="d-flex mt-3 py-1 justify-content-center">
                          <button class="btn btn-lg btn-primary px-5 rounded-pill" type="submit">Create Account</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-2">
                  <div class="card-body p-3 p-md-4">
                    <h6 class="text-center mb-3">Or Claim your money with our mobile app!</h6>
                    <div class="d-flex justify-content-center"><a class="me-1" href="#0"><img src="./img/google-play-btn.svg" alt="Get it on Google Play"></a><a href="#0"><img src="./img/app-store-btn.svg" alt="Download on the App Store"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="bg-semidark text-light py-5 marked-top-right">
          <div class="container">
            <div class="row align-items-center justify-content-center">
              <div class="col-12 text-center d-lg-none">
                <h5 class="mb-3">Supported Countries:</h5>
                <p class="text-md text-muted">You can send money from USA or Canada to any of these countries.</p>
              </div>
              <div class="col-12 col-lg-7">
                <div class="destination-btn-grid"><a class="destination-btn text-center d-flex flex-column" href="#0"><img src="./img/flag-canada.svg" alt="Canada"/><span class="d-block text-md">Canada</span></a><a class="destination-btn text-center d-flex flex-column" href="#0"><img src="./img/flag-usa.svg" alt="USA"/><span class="d-block text-md">USA</span></a>
                </div>
                <div class="destination-btn-grid"><a class="destination-btn text-center d-flex flex-column" href="#0"><img src="./img/flag-ghana.svg" alt="Ghana"/><span class="d-block text-md">Ghana</span></a><a class="destination-btn text-center d-flex flex-column" href="#0"><img src="./img/flag-sierra-leone.svg" alt="Sierra Leone"/><span class="d-block text-md">Sierra Leone</span></a><a class="destination-btn text-center d-flex flex-column" href="#0"><img src="./img/flag-liberia.svg" alt="Liberia"/><span class="d-block text-md">Liberia</span></a><a class="destination-btn text-center d-flex flex-column" href="#0"><img src="./img/flag-nigeria.svg" alt="Nigeria"/><span class="d-block text-md">Nigeria</span></a><a class="destination-btn text-center d-flex flex-column" href="#0"><img src="./img/flag-senegal.svg" alt="Senegal"/><span class="d-block text-md">Senegal</span></a><a class="destination-btn text-center d-flex flex-column" href="#0"><img src="./img/flag-cot-d-ivoir.svg" alt="Cote d’Ivoire"/><span class="d-block text-md">Cote d’Ivoire</span></a><a class="destination-btn text-center d-flex flex-column" href="#0"><img src="./img/flag-guinea.svg" alt="Guinea"/><span class="d-block text-md">Guinea</span></a>
                </div>
              </div>
              <div class="col-10 col-lg-5 text-center text-lg-start">
                <h5 class="mb-4 d-none d-lg-block">Supported Countries:</h5>
                <p class="text-md text-muted d-none d-lg-block">You can send money from USA or Canada to any of these countries.</p>
                <p class="text-md text-muted">Didn’t find your country? <br/>Subscribe and we will inform you when it is available.</p>
                <form>
                  <div class="row g-1">
                    <div class="col-12 col-md-4">
                      <input class="form-control bg-dark text-white border-secondary w-100" type="email" placeholder="Your Email Address"/>
                    </div>
                    <div class="col-12 col-md-4">
                      <select class="form-select bg-dark text-white border-secondary w-100">
                        <option>Select country</option>
                        <option>Afghanistan</option>
                        <option>Algeria</option>
                        <option>France</option>
                        <option>Vietnam</option>
                      </select>
                    </div>
                    <div class="col-12 col-md-4">
                      <button class="btn btn-primary rounded-pill w-100 mt-2 mt-md-0">Notify Me</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-dark text-white py-5">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-4 order-1 order-lg-2 text-center text-lg-right">
                <ul class="list-inline lead">
                  <li class="list-inline-item"><a class="link-white" href="#0"><i class="bx bxl-facebook"></i></a></li>
                  <li class="list-inline-item"><a class="link-white" href="#0"><i class="bx bxl-twitter"></i></a></li>
                  <li class="list-inline-item"><a class="link-white" href="#0"><i class="bx bxl-linkedin"></i></a></li>
                </ul>
              </div>
              <div class="col-12 col-lg-8 order-2 order-lg-1">
                <ul class="footer-menu">
                  <li><a class="link-white" href="#0">Terms and conditions</a></li>
                  <li><a class="link-white" href="#0">Privacy policy</a></li>
                  <li><a class="link-white" href="#0">Cookies policy</a></li>
                  <li><a class="link-white" href="#0">Customer Support</a></li>
                </ul>
              </div>
              <div class="col-12 order-3">
                <div class="py-2 text-muted small text-center text-md-left">BnB CashApp is a service of © BnB Transfer Corp., a licensed Money Remitter in Canada, Rep. of Guinea, Sierra Leone and Liberia.<br/> Copyright © BnB Transfer Corp. 2020</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Toggle sidebars on mobile-->
    <script>
      $("[data-trigger]").on("click", function(e){
      	e.preventDefault();
      	e.stopPropagation();
      	var offcanvas_id =  $(this).attr('data-trigger');
      	$(offcanvas_id).toggleClass("show");
      	$('body').toggleClass("offcanvas-active");
      	$(".screen-overlay").toggleClass("show");
      }); 
      
      $(".btn-close, .screen-overlay").click(function(e){
      	$(".screen-overlay").removeClass("show");
      	$(".mobile-offcanvas").removeClass("show");
      	$("body").removeClass("offcanvas-active");
      });
      
    </script>
    <!-- Select with Image-->
    <script>
      (function(){
      	'use strict'
      
      	function hasClass(el, className){
      		if(el){
      				if (el.classList)
      						return el.classList.contains(className);
      				return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
      		}
      		return null
      	}
      	function addClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.add(className)
      				else if (!hasClass(el, className))
      						el.className += " " + className;
      		}
      	}
      	function removeClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.remove(className)
      				else if (hasClass(el, className))
      				{
      						let reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
      						el.className = el.className.replace(reg, ' ');
      				}
      		}
      	}
      
      	let selects = document.getElementsByClassName("select-image");        
      	Array.prototype.forEach.call(selects, function (select) {
      
      		select.addEventListener('click', function(){
      				let list = this.querySelector(".select-image-list")
      				addClass(list, "show");
      		});
      
      		select.addEventListener("mouseleave", function() {
      				let list = this.querySelector(".select-image-list")
      				removeClass(list, "show");
      		});
      
      		let options = select.getElementsByClassName("select-image-option");
      		Array.prototype.forEach.call(options, function (option) {
      
      				option.addEventListener('click', function(){
      
      						let value = this.getAttribute("data-value");
      						let image = this.getAttribute("data-image");
      						let name  = this.getAttribute("data-name");
      
      						let display = select.getElementsByClassName("select-image-input")[0];
      						display.innerHTML = `<img src="`+image+`"/> `+name;
      
      						let input = select.querySelector("input");
      						input.value = value;
      						
      						let list = select.querySelector(".select-image-list")
      						setTimeout(function(){
      								removeClass(list, "show");
      						}, 50)
      				});
      		});
      	});
      	})();
    </script>
  </body>
</html>
