src/pug/settings.pug
extends _main2.pug
include inc/_components.pug

block title
	| Account Settings

block modals


block content
	
	// Header
	+header2('')
		a.form-toggle-btn.py-2.d-block.d-md-none.text-center.collapsed(data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection") 
			span.hidden-on-collapse
				i.bx.bx-x 
				|  Cancel
			span.visible-on-collapse Send Money
		.bg-semilight.collapse#transactionSection
			.container.py-4.py-md-5
				.row.justify-content-center
					.col-12.col-md-7.col-xl-6
						+payment-form
		
	// end Header
	
	.account-content
		.container
			.row
				.col-12.col-lg-3
					a.btn.btn-lg.w-100.btn-primary.rounded-pill.mb-3.d-none.d-md-block.collapsed(data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection") Send Money
					.overflow-hidden.mb-3
						ul.account-navigation
							li
								a(href='dashboard.html')
									i.bx.bx-home 
									|  Home
							li
								a(href='transactions.html')
									i.bx.bx-time 
									|  Transaction History
							li
								a(href='recipients.html')
									i.bx.bx-group 
									|  Recipients
							li
								a(href='payment-methods.html')
									i.bx.bx-credit-card 
									|  Payment Methods
							li
								a(href='receive-methods.html')
									i.bx.bx-money 
									|  Money Receive Methods
							li
								a.active(href='settings.html')
									i.bx.bx-cog 
									|  Settings
						
				.col-12.col-lg-9
					.dashboard-section
						.dashboard-section-header.mb-3
							h3.dashboard-section-title Settings
						
						.card.mb-3
							.card-header Personal Information
							.card-body
								.row.justify-content-center
									.col-11.col-md-8.col-lg-6
										.form.py-4
											.form-floating.mb-3
												input#firstName.form-control(type='text' placeholder='First Name' value='John')
												label(for='firstName') First Name
											.form-floating.mb-3
												input#middleName.form-control(type='text' placeholder='Last Name' value='Doe')
												label(for='middleName') Middle Name (optional)
											.form-floating.mb-3
												input#lastName.form-control(type='text' placeholder='Last Name' value='Doe')
												label(for='lastName') Last Name
											.form-floating.mb-3
												input#emailAddress.form-control(type='email' placeholder='name@example.com' value='name@example.com')
												label(for='emailAddress') Email
											.form-floating.mb-3
												input#phoneNumber.form-control(type='text' placeholder='Phone Number' value='+588 58885 9294')
												label(for='phoneNumber') Phone (optional)
											.mt-4
												button.btn.btn-primary.rounded-pill.w-100(type='submit') Save Changes

									
						.card
							.card-header Password
							.card-body
								.row.justify-content-center
									.col-11.col-md-8.col-lg-6
										.form.py-4
											.form-floating.mb-3
												input#oldPassword.form-control(type='password' placeholder='Old Password')
												label(for='oldPassword') Old Password
											hr
											.form-floating.mb-3
												input#newPassword.form-control(type='password' placeholder='New Password')
												label(for='newPassword') New Password
											.form-floating.mb-3
												input#newPasswordConfirm.form-control(type='password' placeholder='Confirm New Password')
												label(for='newPasswordConfirm') Confirm New Password
											.mt-4
												button.btn.btn-primary.rounded-pill.w-100(type='submit') Change Password

settings.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/logo.png" type="image/png" sizes="16x16">
    <!-- Box Icons-->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <!-- Main CSS file-->
    <link href="css/style.css" rel="stylesheet">
    <title>Account Settings
    </title>
  </head>
  <body><b class="screen-overlay"></b>
    <div class="page">
      <!-- Header-->
      <div class="account-header marked-bottom-left">
        <div class="header-inset"><a class="logo ms-3" href="dashboard.html"><img src="./img/logo.png"/></a>
          <ul class="nav d-none ms-auto d-sm-flex">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="dashboard.html">Send Money</a></li>
            <li class="nav-item"><a class="nav-link" href="receiver-info.html">Receive Money</a></li>
            <li class="nav-item"><a class="nav-link" href="need-help.html">Need Help?</a></li>
            <li class="nav-item"><a class="nav-link" href="index.html">Log Out</a></li>
          </ul>
          <div class="dropdown ms-auto me-0 d-sm-none link-dark rounded-pill"><a class="mobile-login-toggle ms-auto me-2 d-sm-none link-dark rounded-pill" id="usermenuDropdown" data-bs-toggle="dropdown" aria-expanded="false"><i class="bx bx-user-circle"></i></a>
            <ul class="dropdown-menu text-md" aria-labelledby="usermenuDropdown">
              <li><a class="dropdown-item" href="dashboard.html">My Account</a></li>
              <li><a class="dropdown-item" href="#">Need Help?</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="index.html">Log Out</a></li>
            </ul>
          </div>
          <div class="dropdown language-select mx-2"><a class="link-dark dropdown-toggle" id="languageSelection" data-bs-toggle="dropdown" aria-expanded="false"><i class="country-flag me-2"><img src="./img/flag-uk.svg" width="24"/></i><span class="d-none d-lg-inline-block">English</span></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageSelection">
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-uk.svg" width="20"/></i>English</a></li>
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-france.svg" width="20"/></i>French</a></li>
            </ul>
          </div>
        </div><a class="form-toggle-btn py-2 d-block d-md-none text-center collapsed" data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection"> <span class="hidden-on-collapse"><i class="bx bx-x"> </i> Cancel</span><span class="visible-on-collapse">Send Money</span></a>
        <div class="bg-semilight collapse" id="transactionSection">
          <div class="container py-4 py-md-5">
            <div class="row justify-content-center">
              <div class="col-12 col-md-7 col-xl-6">
                <form class="payment-form">
                  <div class="payment-form-row">
                    <div class="payment-form-input">
                      <input id="amountToSend" type="text" placeholder="Select Amount to Send" value="100"/>
                      <label for="amountToSend">You Send</label>
                    </div>
                    <div class="payment-form-select">
                      <div class="select-image">
                        <input type="hidden" value=""/>
                        <!-- Selected option-->
                        <div class="select-image-input"><img src="./img/flag-usa.svg"/> USD</div><i class="bx bx-chevron-down ms-auto"></i>
                        <!-- List of options-->
                        <div class="select-image-list">
                          <div class="select-image-option" data-value="usa" data-name="USD" data-image="./img/flag-usa.svg"><img src="./img/flag-usa.svg"/>United States<span class="text-muted ms-auto">USD</span>
                          </div>
                          <div class="select-image-option" data-value="canada" data-name="CAD" data-image="./img/flag-canada.svg"><img src="./img/flag-canada.svg"/>Canada<span class="text-muted ms-auto">CAD</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="payment-form-row">
                    <div class="payment-form-input">
                      <input id="amountToReceive" type="text" placeholder="Recipient Gets" value="5868.55"/>
                      <label for="amountToReceive">Recipient Gets</label>
                    </div>
                    <div class="payment-form-select">
                      <div class="select-image">
                        <input type="hidden" value=""/>
                        <!-- Selected option-->
                        <div class="select-image-input"><img src="./img/flag-ghana.svg"/> GHS</div><i class="bx bx-chevron-down ms-auto"></i>
                        <!-- List of options-->
                        <div class="select-image-list">
                          <div class="select-image-option" data-value="ghana" data-name="GHS" data-image="./img/flag-ghana.svg"><img src="./img/flag-ghana.svg"/>Ghana<span class="text-muted ms-auto">GHS</span>
                          </div>
                          <div class="select-image-option" data-value="sierra-leone" data-name="SLS" data-image="./img/flag-sierra-leone.svg"><img src="./img/flag-sierra-leone.svg"/>Sierra Leone<span class="text-muted ms-auto">SLS</span>
                          </div>
                          <div class="select-image-option" data-value="liberia" data-name="LRD" data-image="./img/flag-liberia.svg"><img src="./img/flag-liberia.svg"/>Liberia<span class="text-muted ms-auto">LRD</span>
                          </div>
                          <div class="select-image-option" data-value="nigeria" data-name="NGN" data-image="./img/flag-nigeria.svg"><img src="./img/flag-nigeria.svg"/>Nigeria<span class="text-muted ms-auto">NGN</span>
                          </div>
                          <div class="select-image-option" data-value="senegal" data-name="XOF" data-image="./img/flag-senegal.svg"><img src="./img/flag-senegal.svg"/>Senegal<span class="text-muted ms-auto">XOF</span>
                          </div>
                          <div class="select-image-option" data-value="cote-d-ivoire" data-name="XOF" data-image="./img/flag-cot-d-ivoir.svg"><img src="./img/flag-cot-d-ivoir.svg"/>Cote d'Ivoire<span class="text-muted ms-auto">XOF</span>
                          </div>
                          <div class="select-image-option" data-value="guinea" data-name="GFR" data-image="./img/flag-guinea.svg"><img src="./img/flag-guinea.svg"/>Guinea<span class="text-muted ms-auto">GFR</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-center justify-content-between transfer-confirmation-buttons">
                    <div class="col-12 col-md-6 order-2 order-md-1">
                      <button class="btn btn-primary rounded-pill btn-lg w-100" type="submit">Send Now</button>
                    </div>
                    <div class="col-12 col-md-6 order-1 order-md-2 mb-4 mb-md-0">
                      <div class="text-md text-muted">Exchange rate:</div>
                      <div class="text-dark">1 USD = 125.12 GHS * <a class="badge bg-info text-white" href="#0">Show Fees</a></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end Header-->
      <div class="account-content">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-3"><a class="btn btn-lg w-100 btn-primary rounded-pill mb-3 d-none d-md-block collapsed" data-bs-toggle="collapse" href="#transactionSection" aria-controls="transactionSection">Send Money</a>
              <div class="overflow-hidden mb-3">
                <ul class="account-navigation">
                  <li><a href="dashboard.html"><i class="bx bx-home"> </i> Home</a></li>
                  <li><a href="transactions.html"><i class="bx bx-time"> </i> Transaction History</a></li>
                  <li><a href="recipients.html"><i class="bx bx-group"> </i> Recipients</a></li>
                  <li><a href="payment-methods.html"><i class="bx bx-credit-card"> </i> Payment Methods</a></li>
                  <li><a href="receive-methods.html"><i class="bx bx-money"> </i> Money Receive Methods</a></li>
                  <li><a class="active" href="settings.html"><i class="bx bx-cog"> </i> Settings</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-lg-9">
              <div class="dashboard-section">
                <div class="dashboard-section-header mb-3">
                  <h3 class="dashboard-section-title">Settings</h3>
                </div>
                <div class="card mb-3">
                  <div class="card-header">Personal Information</div>
                  <div class="card-body">
                    <div class="row justify-content-center">
                      <div class="col-11 col-md-8 col-lg-6">
                        <div class="form py-4">
                          <div class="form-floating mb-3">
                            <input class="form-control" id="firstName" type="text" placeholder="First Name" value="John">
                            <label for="firstName">First Name</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input class="form-control" id="middleName" type="text" placeholder="Last Name" value="Doe">
                            <label for="middleName">Middle Name (optional)</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input class="form-control" id="lastName" type="text" placeholder="Last Name" value="Doe">
                            <label for="lastName">Last Name</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input class="form-control" id="emailAddress" type="email" placeholder="name@example.com" value="name@example.com">
                            <label for="emailAddress">Email</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input class="form-control" id="phoneNumber" type="text" placeholder="Phone Number" value="+588 58885 9294">
                            <label for="phoneNumber">Phone (optional)</label>
                          </div>
                          <div class="mt-4">
                            <button class="btn btn-primary rounded-pill w-100" type="submit">Save Changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">Password</div>
                  <div class="card-body">
                    <div class="row justify-content-center">
                      <div class="col-11 col-md-8 col-lg-6">
                        <div class="form py-4">
                          <div class="form-floating mb-3">
                            <input class="form-control" id="oldPassword" type="password" placeholder="Old Password">
                            <label for="oldPassword">Old Password</label>
                          </div>
                          <hr>
                          <div class="form-floating mb-3">
                            <input class="form-control" id="newPassword" type="password" placeholder="New Password">
                            <label for="newPassword">New Password</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input class="form-control" id="newPasswordConfirm" type="password" placeholder="Confirm New Password">
                            <label for="newPasswordConfirm">Confirm New Password</label>
                          </div>
                          <div class="mt-4">
                            <button class="btn btn-primary rounded-pill w-100" type="submit">Change Password</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <section class="marked-top-right app-markets my-0">
          <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="col-auto">Download our app to send and receive money faster</div>
              <div class="col-auto">
                <div class="d-flex mt-2 mt-md-0"><a class="me-1" href="#0"><img src="./img/google-play-btn.svg" alt="Get it on Google Play"/></a><a href="#0"><img src="./img/app-store-btn.svg" alt="Download on the App Store"/></a></div>
              </div>
            </div>
          </div>
        </section>
        <div class="bg-dark text-white py-5">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-4 order-1 order-lg-2 text-center text-lg-right">
                <ul class="list-inline lead">
                  <li class="list-inline-item"><a class="link-white" href="#0"><i class="bx bxl-facebook"></i></a></li>
                  <li class="list-inline-item"><a class="link-white" href="#0"><i class="bx bxl-twitter"></i></a></li>
                  <li class="list-inline-item"><a class="link-white" href="#0"><i class="bx bxl-linkedin"></i></a></li>
                </ul>
              </div>
              <div class="col-12 col-lg-8 order-2 order-lg-1">
                <ul class="footer-menu">
                  <li><a class="link-white" href="#0">Terms and conditions</a></li>
                  <li><a class="link-white" href="#0">Privacy policy</a></li>
                  <li><a class="link-white" href="#0">Cookies policy</a></li>
                  <li><a class="link-white" href="#0">Customer Support</a></li>
                </ul>
              </div>
              <div class="col-12 order-3">
                <div class="py-2 text-muted small text-center text-md-left">BnB CashApp is a service of © BnB Transfer Corp., a licensed Money Remitter in Canada, Rep. of Guinea, Sierra Leone and Liberia.<br/> Copyright © BnB Transfer Corp. 2020</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Initialize Tooltips-->
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      	return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
    <!-- Select with Image-->
    <script>
      (function(){
      	'use strict'
      
      	function hasClass(el, className){
      		if(el){
      				if (el.classList)
      						return el.classList.contains(className);
      				return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
      		}
      		return null
      	}
      	function addClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.add(className)
      				else if (!hasClass(el, className))
      						el.className += " " + className;
      		}
      	}
      	function removeClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.remove(className)
      				else if (hasClass(el, className))
      				{
      						let reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
      						el.className = el.className.replace(reg, ' ');
      				}
      		}
      	}
      
      	let selects = document.getElementsByClassName("select-image");        
      	Array.prototype.forEach.call(selects, function (select) {
      
      		select.addEventListener('click', function(){
      				let list = this.querySelector(".select-image-list")
      				addClass(list, "show");
      		});
      
      		select.addEventListener("mouseleave", function() {
      				let list = this.querySelector(".select-image-list")
      				removeClass(list, "show");
      		});
      
      		let options = select.getElementsByClassName("select-image-option");
      		Array.prototype.forEach.call(options, function (option) {
      
      				option.addEventListener('click', function(){
      
      						let value = this.getAttribute("data-value");
      						let image = this.getAttribute("data-image");
      						let name  = this.getAttribute("data-name");
      
      						let display = select.getElementsByClassName("select-image-input")[0];
      						display.innerHTML = `<img src="`+image+`"/> `+name;
      
      						let input = select.querySelector("input");
      						input.value = value;
      						
      						let list = select.querySelector(".select-image-list")
      						setTimeout(function(){
      								removeClass(list, "show");
      						}, 50)
      				});
      		});
      	});
      	})();
    </script>
  </body>
</html>
