src/pug/transfer-success.pug
extends _main3.pug
include inc/_components.pug

block title
	| Select Recipient

block modals
	+verification-modal
block content
	
	// Header
	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-done(href='transfer-step1.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name 
					span.d-none.d-md-inline-block Transfer  
					|  Options
			a.transfer-progress-step.step-done(href='transfer-step2.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Recipient
			a.transfer-progress-step.step-done(href='transfer-step3.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Payment
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-12.col-md-8.col-lg-6
					h2.text-center.border-bottom.pb-4.mb-3 Transfer request successfully received
					
					+transaction-timeline
					
					.mt-4.pt-4.border-top
						.alert.alert-info.text-center
							h5 Before you go please verify your account.
							p Just upload your ID and we start verification process. 
							a.btn.btn-info.rounded-pill.w-100(data-bs-toggle='modal' data-bs-target='#verificationModal') Select Documents to Upload
					
					.d-flex.justify-content-center.mt-4.pt-4.border-top
						
						a.btn.btn-primary.rounded-pill.btn-lg.px-4.mx-2.disabled(href='dashboard.html') Back to Dashboard
						a.btn.btn-light.text-muted.rounded-pill.btn-lg.px-4.mx-2.disabled(href='transactions.html') See Transfer Details
				
				
				
				
				

transfer-success.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/logo.png" type="image/png" sizes="16x16">
    <!-- Box Icons-->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <!-- Main CSS file-->
    <link href="css/style.css" rel="stylesheet">
    <title>Select Recipient
    </title>
  </head>
  <body>
    <div class="modal fade" id="verificationModal" tabindex="-1" aria-labelledby="verificationModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="verificationModalLabel">Verify Your Account</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card mb-3">
              <div class="card-header">1. ID Verification</div>
              <div class="card-body">
                <p>Please upload your government issued document to verify your ID.</p>
                <div class="mb-3">
                  <label class="form-label" for="formFile">Select file to upload...</label>
                  <input class="form-control" id="formFile" type="file"/>
                  <div class="form-text">File in JPG, PDF, PNG format.</div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">2. Address Verification</div>
              <div class="card-body">
                <p>Please upload your address proof. Some helper text to describe required document...</p>
                <div class="mb-3">
                  <label class="form-label" for="formFile">Select file to upload...</label>
                  <input class="form-control" id="formFile" type="file"/>
                  <div class="form-text">File in JPG, PDF, PNG format.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-light text-muted rounded-pill btn-lg me-auto" type="button" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn-primary btn-lg rounded-pill" type="button">Start Verification</button>
          </div>
        </div>
      </div>
    </div><b class="screen-overlay"></b>
    <div class="page">
      <!-- Header-->
      <div class="account-header marked-bottom-left d-flex">
        <div class="header-inset"><a class="logo ms-3" href="dashboard.html"><img src="./img/logo.png"/></a>
          <div class="transfer-progress"><a class="transfer-progress-step step-done" href="transfer-step1.html">
              <div class="transfer-progress-step-number"><i class="bx bx-check lead"></i></div>
              <div class="transfer-progress-step-name"> <span class="d-none d-md-inline-block">Transfer  </span> Options</div></a><a class="transfer-progress-step step-done" href="transfer-step2.html">
              <div class="transfer-progress-step-number"><i class="bx bx-check lead"></i></div>
              <div class="transfer-progress-step-name">Recipient</div></a><a class="transfer-progress-step step-done" href="transfer-step3.html">
              <div class="transfer-progress-step-number"><i class="bx bx-check lead"></i></div>
              <div class="transfer-progress-step-name">Payment</div></a></div>
          <div class="dropdown language-select mx-2 ms-auto"><a class="link-dark dropdown-toggle" id="languageSelection" data-bs-toggle="dropdown" aria-expanded="false"><i class="country-flag me-2"><img src="./img/flag-uk.svg" width="24"/></i><span class="d-none d-lg-inline-block">English</span></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageSelection">
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-uk.svg" width="20"/></i>English</a></li>
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-france.svg" width="20"/></i>French</a></li>
            </ul>
          </div>
        </div><a class="btn-cancel" href="#0"><i class="bx bx-x"></i><span class="text-xs fw-500 d-none d-md-block">Cancel</span></a>
      </div>
      <!-- end Header-->
      <div class="account-content">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
              <h2 class="text-center border-bottom pb-4 mb-3">Transfer request successfully received</h2>
              <div class="transaction-timeline">
                <div class="transaction-timeline-item step-completed">
                  <div class="transaction-timeline-item-date">Monday, July 4 at 2:40 PM</div>
                  <div class="transaction-timeline-item-content">You Set up your transfer</div>
                </div>
                <div class="transaction-timeline-item step-current">
                  <div class="transaction-timeline-item-date">Monday, July 4 at 2:40 PM</div>
                  <div class="transaction-timeline-item-content">We received your payment</div>
                </div>
                <div class="transaction-timeline-item">
                  <div class="transaction-timeline-item-date">Monday, July 4 at 2:40 PM</div>
                  <div class="transaction-timeline-item-content">Your money’s been sent out to Bjorn Larsson’s Bank.</div>
                  <div class="transaction-timeline-item-helper">It should reach their bank soon. Keep patience. Banks can be slow — it could take them<strong> up to 4 business days  </strong>  to process your transfer.</div>
                </div>
                <div class="transaction-timeline-item">
                  <div class="transaction-timeline-item-date">Saturday, July 9</div>
                  <div class="transaction-timeline-item-content">Bjorn Larsson receives 5986.05 GHS</div>
                </div>
              </div>
              <div class="mt-4 pt-4 border-top">
                <div class="alert alert-info text-center">
                  <h5>Before you go please verify your account.</h5>
                  <p>Just upload your ID and we start verification process. </p><a class="btn btn-info rounded-pill w-100" data-bs-toggle="modal" data-bs-target="#verificationModal">Select Documents to Upload</a>
                </div>
              </div>
              <div class="d-flex justify-content-center mt-4 pt-4 border-top"><a class="btn btn-primary rounded-pill btn-lg px-4 mx-2 disabled" href="dashboard.html">Back to Dashboard</a><a class="btn btn-light text-muted rounded-pill btn-lg px-4 mx-2 disabled" href="transactions.html">See Transfer Details</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Initialize Tooltips-->
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      	return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
    <!-- Select with Image-->
    <script>
      (function(){
      	'use strict'
      
      	function hasClass(el, className){
      		if(el){
      				if (el.classList)
      						return el.classList.contains(className);
      				return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
      		}
      		return null
      	}
      	function addClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.add(className)
      				else if (!hasClass(el, className))
      						el.className += " " + className;
      		}
      	}
      	function removeClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.remove(className)
      				else if (hasClass(el, className))
      				{
      						let reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
      						el.className = el.className.replace(reg, ' ');
      				}
      		}
      	}
      
      	let selects = document.getElementsByClassName("select-image");        
      	Array.prototype.forEach.call(selects, function (select) {
      
      		select.addEventListener('click', function(){
      				let list = this.querySelector(".select-image-list")
      				addClass(list, "show");
      		});
      
      		select.addEventListener("mouseleave", function() {
      				let list = this.querySelector(".select-image-list")
      				removeClass(list, "show");
      		});
      
      		let options = select.getElementsByClassName("select-image-option");
      		Array.prototype.forEach.call(options, function (option) {
      
      				option.addEventListener('click', function(){
      
      						let value = this.getAttribute("data-value");
      						let image = this.getAttribute("data-image");
      						let name  = this.getAttribute("data-name");
      
      						let display = select.getElementsByClassName("select-image-input")[0];
      						display.innerHTML = `<img src="`+image+`"/> `+name;
      
      						let input = select.querySelector("input");
      						input.value = value;
      						
      						let list = select.querySelector(".select-image-list")
      						setTimeout(function(){
      								removeClass(list, "show");
      						}, 50)
      				});
      		});
      	});
      	})();
    </script>
  </body>
</html>
