src/pug/transfer-step3.pug
extends _main3.pug
include inc/_components.pug

block title
	| Select Recipient

block modals


block content
	
	// Header
	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-done(href='transfer-step1.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name 
					span.d-none.d-md-inline-block Transfer  
					|  Options
			a.transfer-progress-step.step-done(href='transfer-step2.html')
				.transfer-progress-step-number
					i.bx.bx-check.lead
				.transfer-progress-step-name Recipient
			a.transfer-progress-step.step-current(href='transfer-step3.html')
				.transfer-progress-step-number 3
				.transfer-progress-step-name Payment
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-12.col-md-6
					
					.dashboard-section-header
						h3.dashboard-section-title Select Payment Method
						
					.row.recipient-grid.row-cols-2.row-cols-lg-3.g-3.mt-md-1.align-items-stretch
						
						.col
							.card-check
								input#flexRadioDefault1.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
								label.recipient-grid-item.account-card.payment-method-card(for='flexRadioDefault1')
									.card-body
										.text-center
											img(src='./img/visa-logo.svg' height='32' alt='VISA Card')
											.mt-2
												.text-md.fw-bold.text-truncate VISA *4990
										.mt-2.cvv-input
											input#exampleFormControlInput1.form-control.form-control-sm(type='text' placeholder='CVV/CVC')
											
											
						.col
							.card-check
								input#flexRadioDefault2.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
								label.recipient-grid-item.account-card.payment-method-card(for='flexRadioDefault2')
									.card-body
										.text-center
											img(src='./img/visa-logo.svg' height='32' alt='VISA Card')
											.mt-2
												.text-md.fw-bold.text-truncate VISA *4990
										.mt-2.cvv-input
											input#exampleFormControlInput1.form-control.form-control-sm(type='text' placeholder='CVV/CVC')
						
						
						.col
							.card-check
								input#flexRadioDefault3.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
								label.recipient-grid-item.account-card.payment-method-card(for='flexRadioDefault3')
									.card-body
										.text-center
											img(src='./img/visa-logo.svg' height='32' alt='VISA Card')
											.mt-2
												.text-md.fw-bold.text-truncate VISA *4990
										.mt-2.cvv-input
											input#exampleFormControlInput1.form-control.form-control-sm(type='text' placeholder='CVV/CVC')
						.col
							.card-check
								input#flexRadioDefault4.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
								label.recipient-grid-item.account-card.payment-method-card(for='flexRadioDefault4')
									.card-body
										.dropdown.account-card-dropdown
											a#cardBtn01.btn(data-bs-toggle='dropdown' aria-expanded='false')
												i.bx.bx-dots-vertical-rounded
											ul.dropdown-menu.dropdown-menu-end.text-md(aria-labelledby='cardBtn01')
												li
													a.dropdown-item(href='#') Action
												li
													a.dropdown-item(href='#') Another action
												li
													a.dropdown-item(href='#') Something else here
										.text-center
											img(src='./img/visa-logo.svg' height='32' alt='VISA Card')
											.mt-2
												.text-md.fw-bold.text-truncate VISA *4990
										.mt-2.cvv-input
											input#exampleFormControlInput1.form-control.form-control-sm(type='text' placeholder='CVV/CVC')
					.row
						.col-12
							.divider-line
					
					.row
						.col-12
							.card
								.card-body
									.md-title.m-0 Use New Card to make a payment
									.my-2
										input.form-control(type='text' placeholder='Stripe Card Form comes here')
									.form-check
										input#rememberCard.form-check-input(type='checkbox' value='')
										label.form-check-label(for='rememberCard')
											| Save this card for future payments
								
				
				.col-md-5.col-xl-3.offset-xl-1
					.card.mt-4.mt-md-0
						.card-header
							h6.mb-0.py-1 Transaction Summary
						ul.list-group.list-group-flush.text-md
							li.list-group-item.d-flex.align-items-center
								i.country-flag
									img.me-2(src='./img/flag-ghana.svg' height='24')
								|  Ghana
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 You are sending
								span.text-muted USD
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Transaction fee
								span.text-muted USD
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Your total
								span.text-muted USD
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Recipient receives
								span.text-muted GHS
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Exchange rate *
								span 1 USD = 5.5653 GHS
							li.list-group-item.text-dark
								.text-xs Transfers subject to review and may be delayed or stopped if an issue is identified. We may wait for payment before sending your transfer.
				
				
				
			.row.justify-content-start
				.col-md-12.col-lg-7.col-xl-6.offset-xl-1
					
					.d-flex.justify-content-between.mt-4.pt-4.border-top
						a.btn.btn-light.text-muted.rounded-pill.btn-lg.px-4(href='transfer-step2.html') Back
						a.btn.btn-primary.rounded-pill.btn-lg.px-4(href='transfer-success.html') Pay 105.4 USD
				
				
				
				
				

transfer-step3.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/logo.png" type="image/png" sizes="16x16">
    <!-- Box Icons-->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <!-- Main CSS file-->
    <link href="css/style.css" rel="stylesheet">
    <title>Select Recipient
    </title>
  </head>
  <body><b class="screen-overlay"></b>
    <div class="page">
      <!-- Header-->
      <div class="account-header marked-bottom-left d-flex">
        <div class="header-inset"><a class="logo ms-3" href="dashboard.html"><img src="./img/logo.png"/></a>
          <div class="transfer-progress"><a class="transfer-progress-step step-done" href="transfer-step1.html">
              <div class="transfer-progress-step-number"><i class="bx bx-check lead"></i></div>
              <div class="transfer-progress-step-name"> <span class="d-none d-md-inline-block">Transfer  </span> Options</div></a><a class="transfer-progress-step step-done" href="transfer-step2.html">
              <div class="transfer-progress-step-number"><i class="bx bx-check lead"></i></div>
              <div class="transfer-progress-step-name">Recipient</div></a><a class="transfer-progress-step step-current" href="transfer-step3.html">
              <div class="transfer-progress-step-number">3</div>
              <div class="transfer-progress-step-name">Payment</div></a></div>
          <div class="dropdown language-select mx-2 ms-auto"><a class="link-dark dropdown-toggle" id="languageSelection" data-bs-toggle="dropdown" aria-expanded="false"><i class="country-flag me-2"><img src="./img/flag-uk.svg" width="24"/></i><span class="d-none d-lg-inline-block">English</span></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageSelection">
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-uk.svg" width="20"/></i>English</a></li>
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-france.svg" width="20"/></i>French</a></li>
            </ul>
          </div>
        </div><a class="btn-cancel" href="#0"><i class="bx bx-x"></i><span class="text-xs fw-500 d-none d-md-block">Cancel</span></a>
      </div>
      <!-- end Header-->
      <div class="account-content">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6">
              <div class="dashboard-section-header">
                <h3 class="dashboard-section-title">Select Payment Method</h3>
              </div>
              <div class="row recipient-grid row-cols-2 row-cols-lg-3 g-3 mt-md-1 align-items-stretch">
                <div class="col">
                  <div class="card-check">
                    <input class="form-check-input card-check-input" id="flexRadioDefault1" type="radio" name="flexRadioDefault">
                    <label class="recipient-grid-item account-card payment-method-card" for="flexRadioDefault1">
                      <div class="card-body">
                        <div class="text-center"><img src="./img/visa-logo.svg" height="32" alt="VISA Card">
                          <div class="mt-2">
                            <div class="text-md fw-bold text-truncate">VISA *4990</div>
                          </div>
                        </div>
                        <div class="mt-2 cvv-input">
                          <input class="form-control form-control-sm" id="exampleFormControlInput1" type="text" placeholder="CVV/CVC">
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="card-check">
                    <input class="form-check-input card-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault">
                    <label class="recipient-grid-item account-card payment-method-card" for="flexRadioDefault2">
                      <div class="card-body">
                        <div class="text-center"><img src="./img/visa-logo.svg" height="32" alt="VISA Card">
                          <div class="mt-2">
                            <div class="text-md fw-bold text-truncate">VISA *4990</div>
                          </div>
                        </div>
                        <div class="mt-2 cvv-input">
                          <input class="form-control form-control-sm" id="exampleFormControlInput1" type="text" placeholder="CVV/CVC">
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="card-check">
                    <input class="form-check-input card-check-input" id="flexRadioDefault3" type="radio" name="flexRadioDefault">
                    <label class="recipient-grid-item account-card payment-method-card" for="flexRadioDefault3">
                      <div class="card-body">
                        <div class="text-center"><img src="./img/visa-logo.svg" height="32" alt="VISA Card">
                          <div class="mt-2">
                            <div class="text-md fw-bold text-truncate">VISA *4990</div>
                          </div>
                        </div>
                        <div class="mt-2 cvv-input">
                          <input class="form-control form-control-sm" id="exampleFormControlInput1" type="text" placeholder="CVV/CVC">
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="card-check">
                    <input class="form-check-input card-check-input" id="flexRadioDefault4" type="radio" name="flexRadioDefault">
                    <label class="recipient-grid-item account-card payment-method-card" for="flexRadioDefault4">
                      <div class="card-body">
                        <div class="dropdown account-card-dropdown"><a class="btn" id="cardBtn01" data-bs-toggle="dropdown" aria-expanded="false"><i class="bx bx-dots-vertical-rounded"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end text-md" aria-labelledby="cardBtn01">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </div>
                        <div class="text-center"><img src="./img/visa-logo.svg" height="32" alt="VISA Card">
                          <div class="mt-2">
                            <div class="text-md fw-bold text-truncate">VISA *4990</div>
                          </div>
                        </div>
                        <div class="mt-2 cvv-input">
                          <input class="form-control form-control-sm" id="exampleFormControlInput1" type="text" placeholder="CVV/CVC">
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="divider-line"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="md-title m-0">Use New Card to make a payment</div>
                      <div class="my-2">
                        <input class="form-control" type="text" placeholder="Stripe Card Form comes here">
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" id="rememberCard" type="checkbox" value="">
                        <label class="form-check-label" for="rememberCard">Save this card for future payments</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-xl-3 offset-xl-1">
              <div class="card mt-4 mt-md-0">
                <div class="card-header">
                  <h6 class="mb-0 py-1">Transaction Summary</h6>
                </div>
                <ul class="list-group list-group-flush text-md">
                  <li class="list-group-item d-flex align-items-center"><i class="country-flag"><img class="me-2" src="./img/flag-ghana.svg" height="24"></i> Ghana</li>
                  <li class="list-group-item d-flex justify-content-between"><span class="fw-600">You are sending</span><span class="text-muted">USD</span></li>
                  <li class="list-group-item d-flex justify-content-between"><span class="fw-600">Transaction fee</span><span class="text-muted">USD</span></li>
                  <li class="list-group-item d-flex justify-content-between"><span class="fw-600">Your total</span><span class="text-muted">USD</span></li>
                  <li class="list-group-item d-flex justify-content-between"><span class="fw-600">Recipient receives</span><span class="text-muted">GHS</span></li>
                  <li class="list-group-item d-flex justify-content-between"><span class="fw-600">Exchange rate *</span><span>1 USD = 5.5653 GHS</span></li>
                  <li class="list-group-item text-dark">
                    <div class="text-xs">Transfers subject to review and may be delayed or stopped if an issue is identified. We may wait for payment before sending your transfer.</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-md-12 col-lg-7 col-xl-6 offset-xl-1">
              <div class="d-flex justify-content-between mt-4 pt-4 border-top"><a class="btn btn-light text-muted rounded-pill btn-lg px-4" href="transfer-step2.html">Back</a><a class="btn btn-primary rounded-pill btn-lg px-4" href="transfer-success.html">Pay 105.4 USD</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Initialize Tooltips-->
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      	return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
    <!-- Select with Image-->
    <script>
      (function(){
      	'use strict'
      
      	function hasClass(el, className){
      		if(el){
      				if (el.classList)
      						return el.classList.contains(className);
      				return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
      		}
      		return null
      	}
      	function addClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.add(className)
      				else if (!hasClass(el, className))
      						el.className += " " + className;
      		}
      	}
      	function removeClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.remove(className)
      				else if (hasClass(el, className))
      				{
      						let reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
      						el.className = el.className.replace(reg, ' ');
      				}
      		}
      	}
      
      	let selects = document.getElementsByClassName("select-image");        
      	Array.prototype.forEach.call(selects, function (select) {
      
      		select.addEventListener('click', function(){
      				let list = this.querySelector(".select-image-list")
      				addClass(list, "show");
      		});
      
      		select.addEventListener("mouseleave", function() {
      				let list = this.querySelector(".select-image-list")
      				removeClass(list, "show");
      		});
      
      		let options = select.getElementsByClassName("select-image-option");
      		Array.prototype.forEach.call(options, function (option) {
      
      				option.addEventListener('click', function(){
      
      						let value = this.getAttribute("data-value");
      						let image = this.getAttribute("data-image");
      						let name  = this.getAttribute("data-name");
      
      						let display = select.getElementsByClassName("select-image-input")[0];
      						display.innerHTML = `<img src="`+image+`"/> `+name;
      
      						let input = select.querySelector("input");
      						input.value = value;
      						
      						let list = select.querySelector(".select-image-list")
      						setTimeout(function(){
      								removeClass(list, "show");
      						}, 50)
      				});
      		});
      	});
      	})();
    </script>
  </body>
</html>
