src/pug/transfer-step1.pug
extends _main3.pug
include inc/_components.pug

block title
	| Transfer Options

block modals

block content
	
	// Header
	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-current(href='transfer-step1.html')
				.transfer-progress-step-number 1
				.transfer-progress-step-name 
					span.d-none.d-md-inline-block Transfer  
					|  Options
			a.transfer-progress-step(href='transfer-step2.html')
				.transfer-progress-step-number 2
				.transfer-progress-step-name Recipient
			a.transfer-progress-step(href='transfer-step3.html')
				.transfer-progress-step-number 3
				.transfer-progress-step-name Payment
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-12.col-md-6
					
					h3.mb-3.d-flex.align-items-center Send Money to
						| &nbsp;
						span.text-primary  Ghana  
						a.badge.bg-info.text-xs.text-white.ms-2(href='#0') Change
					.payment-form-row
						.payment-form-input
							input#amountToSend(type='text' placeholder='Select Amount to Send' value='100')
							label(for='amountToSend') You Send
						.payment-form-select
							.select-image
								input(type='hidden' value='')
								// Selected option
								.select-image-input
									img(src='./img/flag-usa.svg')
									|  USD
								i.bx.bx-chevron-down.ms-auto
								// List of options
								.select-image-list
									+currency-list-item('./img/flag-usa.svg', 'USD', 'United States', 'usa')
									+currency-list-item('./img/flag-canada.svg', 'CAD', 'Canada', 'canada')

					.payment-form-row
						.payment-form-input
							input#amountToReceive(type='text' placeholder='Recipient Gets' value='5868.55')
							label(for='amountToReceive') Recipient Gets
						.payment-form-select
							.select-image
								input(type='hidden' value='')
								// Selected option
								.select-image-input
									img(src='./img/flag-ghana.svg')
									|  GHS
								i.bx.bx-chevron-down.ms-auto
								// List of options
								.select-image-list
									+currency-list-item('./img/flag-ghana.svg', 'GHS', 'Ghana', 'ghana')
									+currency-list-item('./img/flag-sierra-leone.svg', 'SLS', 'Sierra Leone', 'sierra-leone')
									+currency-list-item('./img/flag-liberia.svg', 'LRD', 'Liberia', 'liberia')
									+currency-list-item('./img/flag-nigeria.svg', 'NGN', 'Nigeria', 'nigeria')
									+currency-list-item('./img/flag-senegal.svg', 'XOF', 'Senegal', 'senegal')
									+currency-list-item('./img/flag-cot-d-ivoir.svg', 'XOF', "Cote d'Ivoire", 'cote-d-ivoire')
									+currency-list-item('./img/flag-guinea.svg', 'GFR', "Guinea", 'guinea')

					.mt-3.mb-4
						.text-md.text-muted Exchange rate:
						.text-dark 1 USD = 125.12 GHS * 
							a.badge.bg-info.text-white(href='#0') Show Fees
					
					h5.mb-3 Select money pickup method
					
					#accordionExample.accordion
						.accordion-item
							#headingOne.accordion-header.bg-white
								.accordion-button(data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
									.form-check.m-0.d-flex.align-items-center
										input#flexRadioDefault1.form-check-input.my-0(type='radio' name='flexRadioDefault' checked='')
										label.form-check-label.text-lg.mb-0.ms-2(for='flexRadioDefault1')
											| Bank Deposit
									
							#collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
								.accordion-body.text-md
									| This is the third item's accordion body.
									|  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the.
									
						.accordion-item
							#headingTwo.accordion-header.bg-white
								.accordion-button.collapsed(data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
									.form-check.m-0.d-flex.align-items-center
										input#flexRadioDefault2.form-check-input.my-0(type='radio' name='flexRadioDefault')
										label.form-check-label.text-lg.ms-2(for='flexRadioDefault2')
											| Cash Pickup
							#collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
								.accordion-body.text-md
									| This is the third item's accordion body.
									|  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the.
						
						
						.accordion-item
							#headingThree.accordion-header.bg-white
								.accordion-button.collapsed(data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
									.form-check.m-0.d-flex.align-items-center
										input#flexRadioDefault3.form-check-input.my-0(type='radio' name='flexRadioDefault')
										label.form-check-label.text-lg.ms-2(for='flexRadioDefault3')
											| Mobile Topup
							#collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
								.accordion-body.text-md
									| This is the third item's accordion body.
									|  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the.

					
				.col-md-5.col-xl-3.offset-xl-1
					.card.mt-4.mt-md-0
						.card-header
							h6.mb-0.py-1 Transaction Summary
						ul.list-group.list-group-flush.text-md
							li.list-group-item.d-flex.align-items-center
								i.country-flag
									img.me-2(src='./img/flag-ghana.svg' height='24')
								|  Ghana
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 You are sending
								span.text-muted USD
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Transaction fee
								span.text-muted USD
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Your total
								span.text-muted USD
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Recipient receives
								span.text-muted GHS
							li.list-group-item.d-flex.justify-content-between
								span.fw-600 Exchange rate *
								span 1 USD = 5.5653 GHS
							li.list-group-item.text-dark
								.text-xs Transfers subject to review and may be delayed or stopped if an issue is identified. We may wait for payment before sending your transfer.
				
				
				
			.row.justify-content-start
				.col-md-12.col-lg-7.col-xl-6.offset-xl-1
					
					.d-flex.justify-content-between.mt-4.pt-4.border-top
						a.btn.btn-light.text-muted.rounded-pill.btn-lg.px-4(href='dashboard.html') Back
						a.btn.btn-primary.rounded-pill.btn-lg.px-4(href='transfer-step2.html') Continue
				
				
				
				
				

transfer-step1.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/logo.png" type="image/png" sizes="16x16">
    <!-- Box Icons-->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <!-- Main CSS file-->
    <link href="css/style.css" rel="stylesheet">
    <title>Transfer Options
    </title>
  </head>
  <body><b class="screen-overlay"></b>
    <div class="page">
      <!-- Header-->
      <div class="account-header marked-bottom-left d-flex">
        <div class="header-inset"><a class="logo ms-3" href="dashboard.html"><img src="./img/logo.png"/></a>
          <div class="transfer-progress"><a class="transfer-progress-step step-current" href="transfer-step1.html">
              <div class="transfer-progress-step-number">1</div>
              <div class="transfer-progress-step-name"> <span class="d-none d-md-inline-block">Transfer  </span> Options</div></a><a class="transfer-progress-step" href="transfer-step2.html">
              <div class="transfer-progress-step-number">2</div>
              <div class="transfer-progress-step-name">Recipient</div></a><a class="transfer-progress-step" href="transfer-step3.html">
              <div class="transfer-progress-step-number">3</div>
              <div class="transfer-progress-step-name">Payment</div></a></div>
          <div class="dropdown language-select mx-2 ms-auto"><a class="link-dark dropdown-toggle" id="languageSelection" data-bs-toggle="dropdown" aria-expanded="false"><i class="country-flag me-2"><img src="./img/flag-uk.svg" width="24"/></i><span class="d-none d-lg-inline-block">English</span></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageSelection">
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-uk.svg" width="20"/></i>English</a></li>
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-france.svg" width="20"/></i>French</a></li>
            </ul>
          </div>
        </div><a class="btn-cancel" href="#0"><i class="bx bx-x"></i><span class="text-xs fw-500 d-none d-md-block">Cancel</span></a>
      </div>
      <!-- end Header-->
      <div class="account-content">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6">
              <h3 class="mb-3 d-flex align-items-center">
                Send Money to&nbsp;<span class="text-primary"> Ghana  </span><a class="badge bg-info text-xs text-white ms-2" href="#0">Change</a></h3>
              <div class="payment-form-row">
                <div class="payment-form-input">
                  <input id="amountToSend" type="text" placeholder="Select Amount to Send" value="100">
                  <label for="amountToSend">You Send</label>
                </div>
                <div class="payment-form-select">
                  <div class="select-image">
                    <input type="hidden" value="">
                    <!-- Selected option-->
                    <div class="select-image-input"><img src="./img/flag-usa.svg"> USD</div><i class="bx bx-chevron-down ms-auto"></i>
                    <!-- List of options-->
                    <div class="select-image-list">
                      <div class="select-image-option" data-value="usa" data-name="USD" data-image="./img/flag-usa.svg"><img src="./img/flag-usa.svg"/>United States<span class="text-muted ms-auto">USD</span>
                      </div>
                      <div class="select-image-option" data-value="canada" data-name="CAD" data-image="./img/flag-canada.svg"><img src="./img/flag-canada.svg"/>Canada<span class="text-muted ms-auto">CAD</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="payment-form-row">
                <div class="payment-form-input">
                  <input id="amountToReceive" type="text" placeholder="Recipient Gets" value="5868.55">
                  <label for="amountToReceive">Recipient Gets</label>
                </div>
                <div class="payment-form-select">
                  <div class="select-image">
                    <input type="hidden" value="">
                    <!-- Selected option-->
                    <div class="select-image-input"><img src="./img/flag-ghana.svg"> GHS</div><i class="bx bx-chevron-down ms-auto"></i>
                    <!-- List of options-->
                    <div class="select-image-list">
                      <div class="select-image-option" data-value="ghana" data-name="GHS" data-image="./img/flag-ghana.svg"><img src="./img/flag-ghana.svg"/>Ghana<span class="text-muted ms-auto">GHS</span>
                      </div>
                      <div class="select-image-option" data-value="sierra-leone" data-name="SLS" data-image="./img/flag-sierra-leone.svg"><img src="./img/flag-sierra-leone.svg"/>Sierra Leone<span class="text-muted ms-auto">SLS</span>
                      </div>
                      <div class="select-image-option" data-value="liberia" data-name="LRD" data-image="./img/flag-liberia.svg"><img src="./img/flag-liberia.svg"/>Liberia<span class="text-muted ms-auto">LRD</span>
                      </div>
                      <div class="select-image-option" data-value="nigeria" data-name="NGN" data-image="./img/flag-nigeria.svg"><img src="./img/flag-nigeria.svg"/>Nigeria<span class="text-muted ms-auto">NGN</span>
                      </div>
                      <div class="select-image-option" data-value="senegal" data-name="XOF" data-image="./img/flag-senegal.svg"><img src="./img/flag-senegal.svg"/>Senegal<span class="text-muted ms-auto">XOF</span>
                      </div>
                      <div class="select-image-option" data-value="cote-d-ivoire" data-name="XOF" data-image="./img/flag-cot-d-ivoir.svg"><img src="./img/flag-cot-d-ivoir.svg"/>Cote d'Ivoire<span class="text-muted ms-auto">XOF</span>
                      </div>
                      <div class="select-image-option" data-value="guinea" data-name="GFR" data-image="./img/flag-guinea.svg"><img src="./img/flag-guinea.svg"/>Guinea<span class="text-muted ms-auto">GFR</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-3 mb-4">
                <div class="text-md text-muted">Exchange rate:</div>
                <div class="text-dark">1 USD = 125.12 GHS * <a class="badge bg-info text-white" href="#0">Show Fees</a></div>
              </div>
              <h5 class="mb-3">Select money pickup method</h5>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <div class="accordion-header bg-white" id="headingOne">
                    <div class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <div class="form-check m-0 d-flex align-items-center">
                        <input class="form-check-input my-0" id="flexRadioDefault1" type="radio" name="flexRadioDefault" checked="">
                        <label class="form-check-label text-lg mb-0 ms-2" for="flexRadioDefault1">Bank Deposit</label>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-md">
                      This is the third item's accordion body.
                       It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header bg-white" id="headingTwo">
                    <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <div class="form-check m-0 d-flex align-items-center">
                        <input class="form-check-input my-0" id="flexRadioDefault2" type="radio" name="flexRadioDefault">
                        <label class="form-check-label text-lg ms-2" for="flexRadioDefault2">Cash Pickup</label>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-md">
                      This is the third item's accordion body.
                       It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header bg-white" id="headingThree">
                    <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <div class="form-check m-0 d-flex align-items-center">
                        <input class="form-check-input my-0" id="flexRadioDefault3" type="radio" name="flexRadioDefault">
                        <label class="form-check-label text-lg ms-2" for="flexRadioDefault3">Mobile Topup</label>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body text-md">
                      This is the third item's accordion body.
                       It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-xl-3 offset-xl-1">
              <div class="card mt-4 mt-md-0">
                <div class="card-header">
                  <h6 class="mb-0 py-1">Transaction Summary</h6>
                </div>
                <ul class="list-group list-group-flush text-md">
                  <li class="list-group-item d-flex align-items-center"><i class="country-flag"><img class="me-2" src="./img/flag-ghana.svg" height="24"></i> Ghana</li>
                  <li class="list-group-item d-flex justify-content-between"><span class="fw-600">You are sending</span><span class="text-muted">USD</span></li>
                  <li class="list-group-item d-flex justify-content-between"><span class="fw-600">Transaction fee</span><span class="text-muted">USD</span></li>
                  <li class="list-group-item d-flex justify-content-between"><span class="fw-600">Your total</span><span class="text-muted">USD</span></li>
                  <li class="list-group-item d-flex justify-content-between"><span class="fw-600">Recipient receives</span><span class="text-muted">GHS</span></li>
                  <li class="list-group-item d-flex justify-content-between"><span class="fw-600">Exchange rate *</span><span>1 USD = 5.5653 GHS</span></li>
                  <li class="list-group-item text-dark">
                    <div class="text-xs">Transfers subject to review and may be delayed or stopped if an issue is identified. We may wait for payment before sending your transfer.</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-md-12 col-lg-7 col-xl-6 offset-xl-1">
              <div class="d-flex justify-content-between mt-4 pt-4 border-top"><a class="btn btn-light text-muted rounded-pill btn-lg px-4" href="dashboard.html">Back</a><a class="btn btn-primary rounded-pill btn-lg px-4" href="transfer-step2.html">Continue</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Initialize Tooltips-->
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      	return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
    <!-- Select with Image-->
    <script>
      (function(){
      	'use strict'
      
      	function hasClass(el, className){
      		if(el){
      				if (el.classList)
      						return el.classList.contains(className);
      				return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
      		}
      		return null
      	}
      	function addClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.add(className)
      				else if (!hasClass(el, className))
      						el.className += " " + className;
      		}
      	}
      	function removeClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.remove(className)
      				else if (hasClass(el, className))
      				{
      						let reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
      						el.className = el.className.replace(reg, ' ');
      				}
      		}
      	}
      
      	let selects = document.getElementsByClassName("select-image");        
      	Array.prototype.forEach.call(selects, function (select) {
      
      		select.addEventListener('click', function(){
      				let list = this.querySelector(".select-image-list")
      				addClass(list, "show");
      		});
      
      		select.addEventListener("mouseleave", function() {
      				let list = this.querySelector(".select-image-list")
      				removeClass(list, "show");
      		});
      
      		let options = select.getElementsByClassName("select-image-option");
      		Array.prototype.forEach.call(options, function (option) {
      
      				option.addEventListener('click', function(){
      
      						let value = this.getAttribute("data-value");
      						let image = this.getAttribute("data-image");
      						let name  = this.getAttribute("data-name");
      
      						let display = select.getElementsByClassName("select-image-input")[0];
      						display.innerHTML = `<img src="`+image+`"/> `+name;
      
      						let input = select.querySelector("input");
      						input.value = value;
      						
      						let list = select.querySelector(".select-image-list")
      						setTimeout(function(){
      								removeClass(list, "show");
      						}, 50)
      				});
      		});
      	});
      	})();
    </script>
  </body>
</html>
