src/pug/withdraw.pug
extends _main3.pug
include inc/_components.pug

block title
	| Receive Funds
	
block modals
	+deposit-method-modal
	+verification-code-modal
	
block content
	//Mobile Navigation Sidebar
	+mobile-sidebar
	// end Mobile Navigation Sidebar
	
	// Header

	+header3('d-flex')
		.transfer-progress
			a.transfer-progress-step.step-current(href='withdraw.html')
				.transfer-progress-step-number 1
				.transfer-progress-step-name Withdrawal Info
			a.transfer-progress-step(href='withdrawal-success.html')
				.transfer-progress-step-number 2
				.transfer-progress-step-name Confirmation
	// end Header
	
	.account-content
		.container
			.row.justify-content-center
				.col-md-8.col-lg-7
					h3.mb-4.mb-md-3 Available Balance 
						span.text-primary 250.00 CAD
					.row
						.col-12
							.form-floating.mb-3
								input#amountReceive.form-control(type='number' placeholder='Amount')
								label(for='amountReceive') How much would you like to withdraw (CAD)?
						.col-12
							.form-check.form-switch.bg-light.p-2
								input#flexSwitchCheckDefault.form-check-input.ms-2.me-3(type='checkbox' role='switch')
								label.form-check-label.d-block(for='flexSwitchCheckDefault') Transfer All
					
					.divider-line
					h3.mb-3.mb-md-2 Choose Withdrawal Method
					form
						.row.recipient-grid.row-cols-2.row-cols-lg-3.g-3.mt-md-1.justify-content-stretch
						
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault1.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault1')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-7.png' width='60%' alt='Orange Money') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate Account ending *5919
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault2.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault2')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-8.png' width='60%' alt='MTN Money') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate +868******18485
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault4.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault4')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-10.png' width='60%' alt='Cashplus') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate Account ending *1244
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault5.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault5')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-11.png' width='60%' alt='Airtel Money') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate +76829*****482
							
							.col
								.card-check.h-100.d-flex
									input#flexRadioDefault6.form-check-input.card-check-input(type='radio' name='flexRadioDefault')
									label.recipient-grid-item.account-card(for='flexRadioDefault6')
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-12.png' width='60%' alt='GTBank') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder Account ending *5999
							
							.col
								a.card-check.h-100.d-flex(href='#' data-bs-toggle='modal' data-bs-target='#depositMethodModal')
									.recipient-grid-item.account-card
										.card-body.h-100.d-flex.flex-column
											.recipient-legend.m-auto.align-items-center
												img(src='./img/logo-9.png' width='60%' alt='Ecobank') 
											.recipient-content.mt-auto.pt-2
												.text-md.fw-bolder.text-truncate.text-info Add Your Ecobank Account
												
												
						.divider-line
						label.mb-2 Your Signature to Confirm Transaction
						.card.card-body(style='height:240px')
							.row
								.col
									p.text-md Sign inside the box
								.col.text-end
									a.text-md(href='#') Clear
						.mt-4
							a.btn.w-100.btn-primary.btn-lg.btn-block(href='withdrawal-success.html') Next
						.mt-4
							a.btn.w-100.btn-outline-secondary.btn-lg.btn-block(href='dashboard.html') Cancel
		

withdraw.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/logo.png" type="image/png" sizes="16x16">
    <!-- Box Icons-->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <!-- Main CSS file-->
    <link href="css/style.css" rel="stylesheet">
    <title>Receive Funds
    </title>
  </head>
  <body>
    <div class="modal fade" id="depositMethodModal" tabindex="-1" aria-labelledby="depositMethodModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="depositMethodModalLabel">Ecobank Account Details</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input class="form-control" id="accountNumber" type="text" placeholder="Account Number"/>
              <label for="nameOnCard">Account Number</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="accountNumber2" type="text" placeholder="Confirm Account Number"/>
              <label for="accountNumber2">Confirm Account Number</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="userIDNumber" type="text" placeholder="ID"/>
              <label for="userIDNumber">ID Number</label>
            </div>
            <div class="row g-2">
              <div class="col-6">
                <div class="form-floating mb-3">
                  <select class="form-select" id="currencySelect" aria-label="countryCode">
                    <option selected="">Country Code</option>
                    <option value="1">+58 - Ghana</option>
                    <option value="2">+53 - Senegal</option>
                  </select>
                  <label for="countryCode">Country Code</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input class="form-control" id="phoneNumber" type="text" placeholder="Phone Number"/>
                  <label for="phoneNumber">Phone Number</label>
                </div>
              </div>
            </div>
            <p><strong>Note: </strong>Code will be sent by SMS.</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-lg w-100" href="#" data-bs-toggle="modal" data-bs-target="#verificationCodeModal">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="verificationCodeModal" tabindex="-1" aria-labelledby="verificationCodeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="verificationCodeModalLabel">Ecobank Account Details</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input class="form-control" id="smsCode" type="text" placeholder="Verification Code"/>
              <label for="smsCode">Account Number</label>
            </div>
            <p class="text-center">Resend code in <strong>12   </strong> Seconds  <a href="#0"> Resend Code</a></p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-lg w-100" type="button">Submit</button>
          </div>
        </div>
      </div>
    </div><b class="screen-overlay"></b>
    <div class="page">
      <!--Mobile Navigation Sidebar-->
      <div class="bg-white d-block d-md-none" id="sidebarLeft">
        <ul class="sidebar-nav">
          <li><a class="active" aria-current="page" href="index.html">Send Money</a></li>
          <li><a href="receive.html">Receive</a></li>
          <li><a href="#">How it works?</a></li>
          <div class="px-3 mt-4"><a class="btn btn-light rounded-pill w-100 my-1" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a><a class="btn btn-primary rounded-pill w-100 my-1" href="sign-up.html">Sign Up</a></div>
        </ul>
      </div>
      <!-- end Mobile Navigation Sidebar-->
      <!-- Header-->
      <div class="account-header marked-bottom-left d-flex">
        <div class="header-inset"><a class="logo ms-3" href="dashboard.html"><img src="./img/logo.png"/></a>
          <div class="transfer-progress"><a class="transfer-progress-step step-current" href="withdraw.html">
              <div class="transfer-progress-step-number">1</div>
              <div class="transfer-progress-step-name">Withdrawal Info</div></a><a class="transfer-progress-step" href="withdrawal-success.html">
              <div class="transfer-progress-step-number">2</div>
              <div class="transfer-progress-step-name">Confirmation</div></a></div>
          <div class="dropdown language-select mx-2 ms-auto"><a class="link-dark dropdown-toggle" id="languageSelection" data-bs-toggle="dropdown" aria-expanded="false"><i class="country-flag me-2"><img src="./img/flag-uk.svg" width="24"/></i><span class="d-none d-lg-inline-block">English</span></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageSelection">
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-uk.svg" width="20"/></i>English</a></li>
              <li><a class="dropdown-item" href="#"> <i class="country-flag me-2"><img src="./img/flag-france.svg" width="20"/></i>French</a></li>
            </ul>
          </div>
        </div><a class="btn-cancel" href="#0"><i class="bx bx-x"></i><span class="text-xs fw-500 d-none d-md-block">Cancel</span></a>
      </div>
      <!-- end Header-->
      <div class="account-content">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">
              <h3 class="mb-4 mb-md-3">Available Balance <span class="text-primary">250.00 CAD</span></h3>
              <div class="row">
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="amountReceive" type="number" placeholder="Amount">
                    <label for="amountReceive">How much would you like to withdraw (CAD)?</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-check form-switch bg-light p-2">
                    <input class="form-check-input ms-2 me-3" id="flexSwitchCheckDefault" type="checkbox" role="switch">
                    <label class="form-check-label d-block" for="flexSwitchCheckDefault">Transfer All</label>
                  </div>
                </div>
              </div>
              <div class="divider-line"></div>
              <h3 class="mb-3 mb-md-2">Choose Withdrawal Method</h3>
              <form>
                <div class="row recipient-grid row-cols-2 row-cols-lg-3 g-3 mt-md-1 justify-content-stretch">
                  <div class="col">
                    <div class="card-check h-100 d-flex">
                      <input class="form-check-input card-check-input" id="flexRadioDefault1" type="radio" name="flexRadioDefault">
                      <label class="recipient-grid-item account-card" for="flexRadioDefault1">
                        <div class="card-body h-100 d-flex flex-column">
                          <div class="recipient-legend m-auto align-items-center"><img src="./img/logo-7.png" width="60%" alt="Orange Money"></div>
                          <div class="recipient-content mt-auto pt-2">
                            <div class="text-md fw-bolder text-truncate">Account ending *5919</div>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-check h-100 d-flex">
                      <input class="form-check-input card-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault">
                      <label class="recipient-grid-item account-card" for="flexRadioDefault2">
                        <div class="card-body h-100 d-flex flex-column">
                          <div class="recipient-legend m-auto align-items-center"><img src="./img/logo-8.png" width="60%" alt="MTN Money"></div>
                          <div class="recipient-content mt-auto pt-2">
                            <div class="text-md fw-bolder text-truncate">+868******18485</div>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-check h-100 d-flex">
                      <input class="form-check-input card-check-input" id="flexRadioDefault4" type="radio" name="flexRadioDefault">
                      <label class="recipient-grid-item account-card" for="flexRadioDefault4">
                        <div class="card-body h-100 d-flex flex-column">
                          <div class="recipient-legend m-auto align-items-center"><img src="./img/logo-10.png" width="60%" alt="Cashplus"></div>
                          <div class="recipient-content mt-auto pt-2">
                            <div class="text-md fw-bolder text-truncate">Account ending *1244</div>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-check h-100 d-flex">
                      <input class="form-check-input card-check-input" id="flexRadioDefault5" type="radio" name="flexRadioDefault">
                      <label class="recipient-grid-item account-card" for="flexRadioDefault5">
                        <div class="card-body h-100 d-flex flex-column">
                          <div class="recipient-legend m-auto align-items-center"><img src="./img/logo-11.png" width="60%" alt="Airtel Money"></div>
                          <div class="recipient-content mt-auto pt-2">
                            <div class="text-md fw-bolder text-truncate">+76829*****482</div>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-check h-100 d-flex">
                      <input class="form-check-input card-check-input" id="flexRadioDefault6" type="radio" name="flexRadioDefault">
                      <label class="recipient-grid-item account-card" for="flexRadioDefault6">
                        <div class="card-body h-100 d-flex flex-column">
                          <div class="recipient-legend m-auto align-items-center"><img src="./img/logo-12.png" width="60%" alt="GTBank"></div>
                          <div class="recipient-content mt-auto pt-2">
                            <div class="text-md fw-bolder">Account ending *5999</div>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="col"><a class="card-check h-100 d-flex" href="#" data-bs-toggle="modal" data-bs-target="#depositMethodModal">
                      <div class="recipient-grid-item account-card">
                        <div class="card-body h-100 d-flex flex-column">
                          <div class="recipient-legend m-auto align-items-center"><img src="./img/logo-9.png" width="60%" alt="Ecobank"></div>
                          <div class="recipient-content mt-auto pt-2">
                            <div class="text-md fw-bolder text-truncate text-info">Add Your Ecobank Account</div>
                          </div>
                        </div>
                      </div></a></div>
                </div>
                <div class="divider-line"></div>
                <label class="mb-2">Your Signature to Confirm Transaction</label>
                <div class="card card-body" style="height:240px">
                  <div class="row">
                    <div class="col">
                      <p class="text-md">Sign inside the box</p>
                    </div>
                    <div class="col text-end"><a class="text-md" href="#">Clear</a></div>
                  </div>
                </div>
                <div class="mt-4"><a class="btn w-100 btn-primary btn-lg btn-block" href="withdrawal-success.html">Next</a></div>
                <div class="mt-4"><a class="btn w-100 btn-outline-secondary btn-lg btn-block" href="dashboard.html">Cancel</a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Initialize Tooltips-->
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      	return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
    <!-- Select with Image-->
    <script>
      (function(){
      	'use strict'
      
      	function hasClass(el, className){
      		if(el){
      				if (el.classList)
      						return el.classList.contains(className);
      				return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
      		}
      		return null
      	}
      	function addClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.add(className)
      				else if (!hasClass(el, className))
      						el.className += " " + className;
      		}
      	}
      	function removeClass(el, className){
      		if(el){
      				if (el.classList)
      						el.classList.remove(className)
      				else if (hasClass(el, className))
      				{
      						let reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
      						el.className = el.className.replace(reg, ' ');
      				}
      		}
      	}
      
      	let selects = document.getElementsByClassName("select-image");        
      	Array.prototype.forEach.call(selects, function (select) {
      
      		select.addEventListener('click', function(){
      				let list = this.querySelector(".select-image-list")
      				addClass(list, "show");
      		});
      
      		select.addEventListener("mouseleave", function() {
      				let list = this.querySelector(".select-image-list")
      				removeClass(list, "show");
      		});
      
      		let options = select.getElementsByClassName("select-image-option");
      		Array.prototype.forEach.call(options, function (option) {
      
      				option.addEventListener('click', function(){
      
      						let value = this.getAttribute("data-value");
      						let image = this.getAttribute("data-image");
      						let name  = this.getAttribute("data-name");
      
      						let display = select.getElementsByClassName("select-image-input")[0];
      						display.innerHTML = `<img src="`+image+`"/> `+name;
      
      						let input = select.querySelector("input");
      						input.value = value;
      						
      						let list = select.querySelector(".select-image-list")
      						setTimeout(function(){
      								removeClass(list, "show");
      						}, 50)
      				});
      		});
      	});
      	})();
    </script>
  </body>
</html>
